html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: rgb(10, 12, 32);
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    width: 800px;
    background-color: white;
    margin: 0 auto;
    padding: 8px;
}

.pizza {
    height: auto;
    width: 400px;
}
